.ws-footer {
  padding: 35px 0;
  background-color: $color1;
  color: $text-light;

  &_wrap{
    display: flex;
  }
}

.ws-footer_grid, .ws-footer_contact, .ws-footer_details {
  width: 50%;
}

.ws-footer_grid {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  ul, p {
    margin: 0;
    padding: 0;
  }
  p, li {
    font-size: $footer-fontsize;
  }

  li {
    list-style: none;
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  h4 {
    margin: 0;
  }

  a {
    color:$text-light;
  }
}