header {
  display: flex;
  align-items: center;
}
.ws-header {
  padding: 30px 0;
  justify-content: space-between;

  &_logo img{
    width: 50%;
    height: auto;
  }
}

/*------------------------------------*\
  #Headerimage
\*------------------------------------*/

.ws-headerimage {
  background-image: url("../Images/header.jpg");
  height: 500px;
  background-size: cover;
  background-position: bottom center;
  display:flex;
  align-items: center;
}