.ws-nav_list {
  display: flex;
  list-style: none;

  li {
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

/*
#SUBNAV
*/

.ws-nav_subnav {
  display: none;
  background-color: white;
  position: absolute;
  padding: 15px 0;

  li {
    border-bottom: 1px solid $color3;
    padding: 10px 20px;
    list-style: none;

    &:first-child {
      border-top: 4px $color1 solid;
      padding-top: 20px;
    }
    &:last-child {
      border-bottom: none;
      padding-right: 20px;
    }
  }
}
.ws-nav_list li:hover .ws-nav_subnav {
  display: block;
}