.ws-teaser {
  background-image: url("../Images/background-image.jpg");
  padding: 50px 0;

  h2 {
    text-align: center;
  }

  &_container {
    background-color: $white;
    box-shadow: 18px 18px 51px 0px rgba(33,33,33,0.27);
  }

  &_img img{
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &_text {
    padding: 20px;

    p  {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 0;
    }
  }
}

/*------------------------------------*\
  #ANIMATION
\*------------------------------------*/

.ws-teaser_container:hover img {
  transform: scale3d(1.3, 1.3, 1.3);
  transition: all 1s;
}
.ws-teaser_img {
  overflow: hidden;
}